# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
wordpress-content/index.php
wordpress-content/themes
wordpress-content/plugins/hello.php
wordpress-content/plugins/index.php
wordpress-content/plugins/akismet
