<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"hero-section"} /-->
	<!-- wp:pattern {"slug":"trials-section"} /-->
	<!-- wp:pattern {"slug":"about-us-section"} /-->
	<!-- wp:pattern {"slug":"vision-mission-section"} /-->
	<!-- wp:pattern {"slug":"statistics-section"} /-->
	<!-- wp:pattern {"slug":"programmes-section"} /-->
	<!-- wp:pattern {"slug":"competition-excellence-section"} /-->
	<!-- wp:pattern {"slug":"events-section"} /-->
	<!-- wp:pattern {"slug":"achievements-section"} /-->
	<!-- wp:pattern {"slug":"teachers-section"} /-->
	<!-- wp:pattern {"slug":"reviews-section"} /-->
	<!-- wp:pattern {"slug":"locations-section"} /-->
	<!-- wp:pattern {"slug":"gallery-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->